h1{
    color: white;
    font-size: 200%;
    text-align: center;
    background-color: #0c3563;
}
a, a:hover{
  color:#333
}


img{
    width: 60%;
    height: 50%;
}
.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }