<ul class="nav nav-tabs menu">
  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-introduccion" >Materias del curso</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Aritmetica" >Aritmetica</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#" >Algebra</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#" >Trigonometria</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#">Geometria</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#">Calculo Integral</a>
  </li>
 
  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#">Calculo Diferencial</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Probabilidad</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Estadistica</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Fisica</a>
  </li>

  
  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Química</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Ingles</a>
  </li>

  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Español</a>
  </li>

  
  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#">Biologia</a>
  </li>

  
  <li class="nav-item">
    <a class="nav-link materia"  aria-current="page" href="#">Historia</a>
  </li>

  
  <li class="nav-item">
    <a class="nav-link materia" aria-current="page" href="#">Geografia</a>
  </li>

</ul>