<h1>Alumnos Aceptados Nivel Medio Superior y Superior</h1>
<div class="contenido">
    <table>
        <tr>
            <td><h2>Juan Armando </h2></td>
            <td><h2>Leticia perez  </h2></td>
            <td><h2>Fernando Flores  </h2></td>
        </tr>
        <tr>
            <td>Imagen 1</td>
            <td>Imagen 2</td>
            <td>Imagen 3</td>
        </tr>

        <tr>
            <td><h2>Alvaro Perez </h2></td>
            <td><h2>Juan antonio solis  </h2></td>
            <td><h2>Esteban Mendoza </h2></td>
        </tr>
    
        <tr>
            <td>Imagen 4</td>
            <td>Imagen 5</td>
            <td>Imagen 6</td>
        </tr>
    </table>
</div>
