<div class="contenido">
  <h3>Introduccion a los examenes de las materias</h3>
  <br />
  <p>
    En esta seccion se encuentran todos los examenes de cada una de las materias
    con sus respectivos temas que estan en la guia de preparación para ingreso a
    nivel superior y medio superior, los examenes estan separados por cada cinco
    temas que tenga la materia. Los examenes son de opción multiple en el cual
    solo debes seleccionar una respuesta correcta y calificar al final de cada
    una de las secciones del examen para obtener el resultado final . Las materias estan 
    separadas por dos modulo, el modulo 1 que se enfoca en las matemáticas y el modulo que 
    es de las materias por faltar a ver.
  </p>
  <br />
  <p>
    En cada materia que se observa en el menu, se tendran los examenes
    correspondientes, asi como de algunos ejercicios adicionales que son
    opcionales a contestar. Los cuales debes de realizar y resolver en una hoja
    de tu material para verificar los resultados correspondientes con el asesor
    disponible. Resolviendo las dudas que se tengan de los temas. Los alumnos
    que ingresan a nivel medio superior(Preparatoria) tendran que constestar los
    siguientes examenes de las materias que se mensionan: Aritmetica,Algebra,
    Trigonometria, Ingles,Español, Probabilidads, Biologia, Historia y
    geografia, las demas materias son para nivel superior. Los alumnos del nivel
    medio superior en las materias siguientes solo tendran contestar hasta
    ciertos temas de las siguientes materias: Probabilida,Ingles y Fisica. Los alumnos que ingresan a nivel
    superior(Universidad) tendran que contestar cada una de los examenes de las
    materias con sus respectivos temas.
  </p>
  <br />
  <p>
    Para más información consulte al algunos de los asesores disponibles y
    correspondientes.
  </p>
  <br />
</div>
