<app-encabezado-administrador></app-encabezado-administrador>
<main>
    <header>
      <div class="logo">
        <a href="#"><img src="images/logo.png" alt=""></a>
      </div>
      <nav>
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/Administrador-Inicio">Inicio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/Administrador-Personal">Asesores</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/Administrador-Alumno">Alumnos</a>
          </li>
          <li><a>Reportes</a>
            <ul class="submenu">
              <li><a>Alumnos aceptados</a></li>
              <li><a>Alumnos reprobados</a></li>
              <li><a>Reporte 3</a></li>
              <li><a>Reporte 4</a></li>
            </ul>
          </li>
          <li><a>
            <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="30"
            alt="Portrait of a Woman"
            loading="lazy"
            /></a>
            <ul class="submenu">
              <li><a>Perfil</a></li>
              <li><hr class="dropbown-divider"></li>
              <li><a (click) = "logOut()">Salir</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
</main>
<app-contenido-alumno></app-contenido-alumno>
<app-footer></app-footer>