<br />
<h2>Bienvenido</h2>
<h2>Juan Antonio Lopez</h2>
<h2>Introducción al curso</h2>

<div class="contenido">
  <p>
    Bienvenido al curso de ingreso a la universidad o preparatoria en donde
    aprenderas cada uno de los temas segun su curso y realizaras los examanes
    correspondientes.
  </p>
</div>
<app-introduccion-examen>
</app-introduccion-examen>
<br />
<h1>Curso de ingreso a nivel Medio Superior y Superior</h1>

<div class="curso">
  <table>
    <tr>
      <td>Información 1 del curso</td>
      <td>Información 2 del curso</td>
    </tr>

    <tr>
      <td>Información 3 del curso</td>
      <td>
        Información 4 del curso
      </td>
    </tr>
  </table>
</div>
