<h1>Precios de Cursos</h1>
<br>
<div class="contenido">
    <table>
        <tr>
            <td><h2>Universidad</h2></td>
            <td><h2>Preparatoria</h2></td>
        </tr>
        <tr>
           <td><h1>$ 5000.00</h1></td>
           <td><h1>$ 3000.00</h1></td>        
        </tr>
        <tr>
            <td>
                <p>
                 1 Carpeta <br>
                1 Examen de simulación <br>
                Acceso a la plataforma
            </p>
             </td>
             <td>
                <p>
                 1 Carpeta <br>
                1 Examen de simulación <br>
                Acceso a la plataforma
            </p>
             </td>
            
        </tr>
    </table>
</div>

<p>Los precios cambian en un determinado tiempo, pregunte los precios en la sucursal.</p>