<section id="contenido">
    <article>
        <h2>No dejes pasar más el tiempo</h2><br>
        <table>
            <tr>
                <td>
                    <div class="curso">
                        <p>Preparate con nosotros para el examen de admisión a nivel medio Superior y Superior</p>
                    </div></td>
                <td>
                    <img src="assets/Alumno4.png" alt="Clases" width="80%" height="90%">
                </td>
            </tr>
            </table>
    </article>
</section>

<br>
<div class="tiposCursos">
    <h2>Cursos Disponibles</h2>

    <table>
        <tr>
            <td>Presencial</td>
            <td>Linea</td>
            <td>Mixto</td>
        </tr>
        <tr>
            <td><img src="assets/Alumno1.png" alt="Presencial" width="90%" height="90%"></td>
            <td><img src="assets/Alumno2.png" alt="Online" width="90%" height="90%"></td>
            <td><img src="assets/Alumno3.png" alt="Mixta" width="90% " height="90%"></td>
        </tr>
    </table>
</div>
<br>
<h2>Asesorias en diferentes materias</h2>
<div class="materias">
    <table >
        <tr>
            <td><p>Aritmetica</p></td>
            <td><p>Algebra</p></td>
            <td></td>
            <td>
                <p>Matematicas Financieras</p>
            </td>
        </tr>

        <tr>
            <td>
                <p>Trigonometria</p>
            </td>
            <td></td>
            <td>        
                <p>Geometria Analitica</p>
            </td>
            <td></td>
            <td>
                <p> Calculo Integral </p>
            </td>
        </tr>

        <tr>
            <td><p>  Calculo Diferencial </p></td>
            <td>
            </td>
            <td></td>
            <td>
                <p>Probabilidas y Estadistica</p>
            </td>
          
        </tr>
    </table>
</div>
<h2>INSCRICIONES ABIERTAS</h2>