<div class="contenido">
  <h3>Introduccion a las Materias</h3><br>
  <p>
    En esta seccion se encuentran todas las materias con sus respectivos temas
    que estan en la guia de preparación para ingreso a nivel superior y medio
    superior, Aqui podras consultar los temas correspondientes, asi como de
    algunos ejemplos y ejercicios con los cuales podras consultar los resultados
    con el asesor disponibles en la sucursal.El asesor correspondiente te dira
    que secciones debes de repasar asi como de los ejercicios correspondientes y
    las materias depende de que curso este tomando ya sea nivel superior o medio
    superior.
  </p>
  <br />
  <p>
    En cada materia que se observa en el menu, se tendran los temas
    correspondientes y por lo menos un ejemplo, asi como de algunos ejercicios.
    Los cuales debes de realizar y resolver en una hoja de tu material para
    verificar los resultados correspondientes con el asesor disponible.
    Resolviendo las dudas que se tengan de los temas. Los alumnos que ingresan a
    nivel medio superior(Preparatoria) tendran que constestar las siguientes
    materias: Aritmetica,Algebra, Trigonometria, Ingles,Español, Probabilidads,
    Biologia, Historia y geografia, las demas materias son para nivel superior. Los alumnos del nivel medio superior en las
    materias siguientes solo tendran contestar hasta ciertos temas:
    Probabilida,Ingles y Fisica. Los alumnos que ingresan a nivel
    superior(Universidad) tendran que contestar cada una de las materias con sus
    respectivos temas.
  </p>
  <br />
  <p>
    Para más información consulte al algunos de los asesores disponibles y
    correspondientes.
  </p>
  <br />
</div>
