<h1>Sucursal Disponible</h1>
<div class="contenedor">
   <a href="https://www.google.com/maps/place/Av.+Altamirano+230,+Las+Culturas,+51355+San+Miguel+Zinacantepec,+M%C3%A9x.,+M%C3%A9xico/@19.2995703,-99.7134637,17z/data=!3m1!4b1!4m5!3m4!1s0x85cd881ae834c36f:0x360cbd859896e0a4!8m2!3d19.2995653!4d-99.7108888?entry=ttu" class="text-reset" target="_blank"> <img src="assets/Estado-Disponible.png" alt="Zinacantepec" width="90%" height="100%"></a>
    <h2>Dirección: Av Altamirano 230 , Las culturas , 51350 San Miguel  Zinacantepec , México.</h2>
</div>

<h1>Sucursal Zinacantepec</h1>

<div class="contenido">
    <table>
        <tr>
            <td><img src="assets/Imagenes-Sucursal/15.png" alt="sucursal 1" width="130%"></td>
            <td> <img src="assets/Imagenes-Sucursal/1.jpg" alt="sucursal 2" width="110%"> </td>
        </tr>
        <tr>
            <td><img src="assets/Imagenes-Sucursal/2.jpg" alt="sucursal 3" width="120%"></td>
            <td><img src="assets/Imagenes-Sucursal/9.jpg" alt="sucursal 4" width="110%"></td>
        </tr>
    </table>
</div>