
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado_principal{
    color: white;
    background-color: #64bea5;
    margin-bottom: 0px; 
    justify-content:space-around;
  
}

td{
  padding-left: 20px;
}