<ul class="nav nav-tabs menu">
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="" >Alumnos Aprobados</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="" >Alumnos Aceptados Preparatoria</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="#" >Alumnos Aceptados Universidad</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="#" >Calificación por Materia</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="#">Alumnos Pago-Completo</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="#">Calificación por Curso</a>
    </li>
     
  </ul>
