<ul class="nav nav-tabs menu">
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Examenes-introduccion" >Intrucciones de los examenes</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Aritmetica" >Aritmetica</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Algebra" >Algebra</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Trigonometria" >Trigonometria</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Geometria">Geometria</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Calculo-Integral">Calculo Integral</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Calculo-Diferencial">Calculo Diferencial</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Probabilidad">Probabilidad</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Estadistica">Estadistica</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Fisica">Fisica</a>
    </li>
  
    
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Quimica">Química</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Ingles">Ingles</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Spanish">Español</a>
    </li>
  
    
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Biologia">Biologia</a>
    </li>
  
    
    <li class="nav-item">
      <a class="nav-link materia"  aria-current="page" href="Alumnos-Materias-Historia">Historia</a>
    </li>
  
    
    <li class="nav-item">
      <a class="nav-link materia" aria-current="page" href="Alumnos-Materias-Geografica">Geografia</a>
    </li>
  
  </ul>
