<div class="contenido"> 
       <table class="table">
            <tr>
                 <td>
                       <p>Correo electronico: Juan1234gmail.com</p>
                       <p>Fecha Nacimiento: 12/07/1999</p>
                       <p>Dirección: San matero atengo, los uribes , toluca</p>
                       <p>Tipo de modalidad: Presencial</p>
                 </td>
                 <td>
                    <p>Curso:Universidad</p>
                    <p>Curso pasagado: Si </p>
                    <p>Adeudo restante: $0.0</p>
                    <p>Telefono: 7231265327</p>
                    <p>Fecha Registro: 12/09/2023</p>
                 </td>
            </tr>
            
    </table>
    <div class="Cursos">
        Evidencia de Examenes de Admisión
      </div><br>
    <table>
        <tr>
            <td>
                <h2>¿Fuiste Aceptado?</h2><br>
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02">
                      <option selected>Selecciona..</option>
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                    <div class="input-group-append">
                      <label class="input-group-text" for="inputGroupSelect02">Opción</label>
                    </div>
                  </div>
                <br>
                
                    <button type="button" class="btn btn-primary" disabled>Guardar Respuesta</button><br><br>
                    <button type="button" class="btn btn-primary" disabled>Guardar Comentario</button>
            </td>
            <td>
                <h2>Escribe algun comentario sobre el curso</h2>
                <textarea name="textarea" rows="10" cols="60"></textarea>
            </td>
            <td>
                <h2>Código para tener acceso al exámen de simulación</h2><br>
                <div class="btn_codigo">
                <input type="text" id="codigo" name="codigo" disabled /></div>
            </td>
        </tr>
    </table>
</div>